@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container_padding: 1rem;
  --transition_duration: .3s;
  --transition_type: ease-in-out;
  
  --primary_background-color: #fff;
  --secondary_background-color: #000;

  --primary_text-color: #000;
  --secondary_text-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  min-height: 100vh;
  width: 100vw;
  background: #f1f1f1;
}